<launch>
    <!-- Usage: roslaunch walker_brain grasp_cup.launch task_id:=2 cup_id:=1 -->
    <!-- Before launching this, launch prepare.launch -->

    <param name="/use_sim_time" value="true" />

    <arg name="task_id" default="3"/>

    <!-- cup_id range [1, 5] -->
    <arg name="cup_id" default="1"/>

    <node pkg="walker_brain" type="grasp_cup_helper.py" name="grasp_cup_helper" output="screen">
        <param name="target_id" value="$(arg cup_id)" />
        <param name="x_offset" value="0.6" />
        <param name="y_offset" value="-0.3" />
        <param name="z_offset" value="0.1" />
    </node>

    <node pkg="walker_brain" type="grasp_cup_node" name="grasp_cup_node" output="screen">
        <param name="tree_file" value="$(find walker_brain)/tree/grasp_cup_$(arg task_id).xml" />
        <param name="task_id" value="$(arg task_id)" />
    </node>

</launch>