<launch>
    <!-- Usage: roslaunch walker_brain open_fridge.launch -->
    <!-- Before launching this, launch prepare_open_fridge.launch -->

    <param name="/use_sim_time" value="true" />

    <!-- Could be 10, 11, 12, 13   -->
    <arg name="task_id" />

    <arg if="$(eval task_id==12)" name="rotation_tolerance" value="1" />
    <arg unless="$(eval task_id==12)" name="rotation_tolerance" value="1" />

    <node pkg="walker_brain" type="open_fridge_helper.py" name="open_fridge_helper" output="screen">
        <!-- In webots world frame -->
        <!-- Fridge door surface center: x:-8.0, z:2.6; Robot: x:-7.62, z:3.03 -->
        <param name="x_offset" value="0.37" />
        <param name="y_offset" value="0.48" />
        <param name="rotation_tolerance" value="$(arg rotation_tolerance)" />
    </node>

    <node pkg="walker_brain" type="open_fridge_node" name="open_fridge_node" output="screen">
        <param name="tree_file" value="$(find walker_brain)/tree/open_fridge_$(arg task_id).xml" />
    </node>

</launch>