<launch>
    <!-- Usage: roslaunch walker_brain open_fridge.launch -->
    <!-- Before launching this, launch prepare_open_fridge.launch -->

    <param name="/use_sim_time" value="true" />

    <!-- Could be 10, 11, 12, 13   -->
    <arg name="task_id" />

    <arg if="$(eval task_id==12)" name="rotation_tolerance" value="1" />
    <arg unless="$(eval task_id==12)" name="rotation_tolerance" value="0.5" />

    <group if="$(eval task_id==10)">
        <node pkg="rosservice" type="rosservice" name="init_robot"
              args='call --wait /walker/sence "{scene_name: OpenFridge, nav: false, vision: false}"' />
    </group>

    <group if="$(eval task_id==11)">
        <node pkg="rosservice" type="rosservice" name="init_robot"
              args='call --wait /walker/sence "{scene_name: OpenFridge, nav: false, vision: true}"' />
    </group>

    <node pkg="walker_brain" type="open_fridge_helper.py" name="open_fridge_helper" output="screen">
        <!-- In webots world frame -->
        <!-- Fridge door surface center: x:-8.0, z:2.6; Robot control only opening pose: x:-7.62, z:3.03 -->
        <param name="x_offset" value="0.38" />
        <param name="y_offset" value="0.48" />
        <param name="rotation_tolerance" value="$(arg rotation_tolerance)" />
    </node>

    <node pkg="walker_brain" type="open_fridge_node" name="open_fridge_node" output="screen">
        <param name="tree_file" value="$(find walker_brain)/tree/open_fridge_$(arg task_id).xml" />
    </node>

</launch>