<launch>
    <param name="/use_sim_time" value="true" />


    <include file="$(find walker_webots_hardware_interface)/launch/moveit.launch">
        <arg name="show_rviz" value="true" />
    </include>

    <include file="$(find walker_movement)/launch/helpers.launch">
    </include>

    <include file="$(find walker_brain)/launch/includes/process_pointcloud.launch.xml">
        <arg name="min_height_cfg" default="-1.2"/>
        <arg name="max_height_cfg" default="0.2"/>
    </include>

    <include file="$(find leg_motion)/launch/walker2_leg.launch">
        <arg name="account_file" value="$(find leg_motion)/launch/user_account.json" />
    </include>
</launch>