<launch>
    <param name="/use_sim_time" value="true" />

    <include file="$(find walker_webots_hardware_interface)/launch/moveit.launch">
        <arg name="show_rviz" value="false" />
        <arg name="enable_legs" value="true" />
    </include>

    <include file="$(find walker_movement)/launch/helpers.launch">
        <arg name="legs_control" default="true" />
    </include>

    <node pkg="walker_brain" type="upstairs_helper.py" name="upstairs_helper" output="screen">
    </node>

</launch>