<launch>
    <!-- Usage: roslaunch walker_brain open_fridge.launch -->
    <!-- Before launching this, launch prepare_switch_light.launch -->

    <param name="/use_sim_time" value="true" />

    <node pkg="rosservice" type="rosservice" name="init_robot"
          args='call --wait /walker/sence "{scene_name: SwitchLight, nav: false, vision: false}"' />

    <node pkg="walker_brain" type="bt_port_node" name="bt_port_node" output="screen">
        <param name="tree_file" value="$(find walker_brain)/tree/switch_light_1.xml" />
    </node>

</launch>