<launch>

  <arg name="enable_gait" default="true" />

  <include file="$(find walker_movement)/launch/helpers.launch"/>
  <include file="$(find walker_webots_hardware_interface)/launch/moveit.launch">
    <arg name="show_rviz" value="false"/>
  </include>
  <group if="$(arg enable_gait)">

    <include file="$(find leg_motion)/launch/walker2_leg.launch">
      <arg name="account_file" value="$(find walker_webots_hardware_interface)/../../../user_account.json"/>
    </include>
  </group>
</launch>
